<h1>Formulario de ejemplo:</h1>
<!-- <tots-form #form [fields]="fields" [item]="item" (onAction)="onActionForm($event)"></tots-form>


<button (click)="onClickOpenModal()">Prueba de Modal</button>
<button (click)="onClickOpenModalApi()">Prueba de Modal API</button>

<h1>Prueba User Selector Menu</h1>
<tots-users-selector-menu [config]="configUserSelector"></tots-users-selector-menu>

<h1>Prueba Day Selector Menu</h1>
<tots-day-selector-menu [initValue]="dateNow" (changeDate)="onChangeDate($event)"></tots-day-selector-menu>

<h1>Prueba Range Date Menu</h1>
<tots-range-date-selector-menu></tots-range-date-selector-menu> -->